<!--start page wrapper -->
<div class="page-wrapper">
	<div class="">

		<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">

			<div class="col">
				<div class="card radius-10 ">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<h5 class="mb-0 text-primary">{{paypalTotal.total}}</h5>
							<div class="ms-auto">
								<i class='bx bx-cart fs-3 text-primary'></i>
							</div>
						</div>
						<div class="progress my-2" style="height:4px;">
							<div class="progress-bar bg-primary" role="progressbar" style="width: 55%"
								aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="d-flex align-items-center">
							<p class="mb-0">Paypal</p>
							<p class="mb-0 ms-auto"><span><i class='bx bx-up-arrow-alt'></i></span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<h5 class="mb-0 text-success">{{codTotal.total}}</h5>
							<div class="ms-auto">
								<i class='bx bx-cart fs-3 text-primary'></i>
							</div>
						</div>
						<div class="progress my-2" style="height:4px;">
							<div class="progress-bar bg-success" role="progressbar" style="width: 55%"
								aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="d-flex align-items-center">
							<p class="mb-0">COD</p>
							<p class="mb-0 ms-auto"><span><i class='bx bx-up-arrow-alt'></i></span></p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<h5 class="mb-0 text-danger">{{rasorpayTotal.total}}</h5>
							<div class="ms-auto">
								<i class='bx bx-cart fs-3 text-primary'></i>
							</div>
						</div>
						<div class="progress my-2" style="height:4px;">
							<div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="25"
								aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="d-flex align-items-center">
							<p class="mb-0">Razorpay</p>
							<p class="mb-0 ms-auto"><span><i class='bx bx-up-arrow-alt'></i></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="container">
			<canvas id="myChart"></canvas>
		</div>


		
			







		{{!-- <div class="card radius-10">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<h5 class="mb-0">Orders Summary</h5>
					</div>
					<div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
					</div>
				</div>
				<hr>
				<div class="table-responsive">


					


					<table class="table">
						<thead>
							<tr>
								<th scope="col">Date</th>
								<th scope="col">Name</th>
								<th scope="col">Address</th>
								<th scope="col">Mobile</th>
								<th scope="col">Amount</th>
								<th scope="col">Payment</th>
								<th scope="col">Status</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{{#each allOrders}}
							<tr>
								<th style="font-weight:300 ;">{{this.date}}</th>
								<th style="font-weight:300 ;"></th>
								<th style="font-weight:300 ;">{{this.deliveryDetails.address}}</th>
								<th style="font-weight: 300;">{{this.deliveryDetails.mobile}}</th>
								<th style="font-weight:300 ;">{{this.totalAmount.[0].total}}</th>
								<th style="font-weight:300 ;">{{this.paymentMethod}}</th>

								<form action="/admin/changeStatus/{{this._id}}" method="post">

									{{#if this.cancelStatus}}

									<th style="font-weight: 300;">
										<select id="changeStatus" name="changeStatus">
											<option>{{this.status}}</option>
											<option>packed</option>
											<option>shipped</option>
											<option>deliverd</option>
										</select>
									</th>
									{{else}}

									<th style="font-weight: 300;">
										<select id="changeStatus" name="changeStatus">
											<option>{{this.status}}</option>
											<option>cancelled</option>
											<option>packed</option>
											<option>shipped</option>
											<option>deliverd</option>
										</select>
									</th>
									{{/if}}
									<th>
										
										<button type="submit" class="btn btn-success float-right">Update</button>
									</th>
								</form>

								<th><a href="/view-order-products/{{this._id}}" class="btn btn-primary float-right">VIEW
										ORDER</a></th>



							</tr>
							{{/each}}


						</tbody>
					</table>
					

				</div>
			</div>
		</div> --}}



			



		<div class="card radius-10">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<h5 class="mb-0">Order Management</h5>
					</div>
					<div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
					</div>
				</div>
				<hr>
				<div class="">
                    <table id="example2" class="table table-hover display  pb-50">
						<thead>
							<tr>
								<th>No</th>
								<th>Date</th>
								<th>Order ID</th>
								{{!-- <th>User</th> --}}
								{{!-- <th>Product</th> --}}
								{{!-- <th>Quantity</th> --}}
								<th>Payment</th>
								<th>Amount</th>
								<th>Status</th>
								<th>Action</th>

							</tr>
						</thead>
						<tbody>

							{{#each order}}
							<tr>
								<th scope="row">{{inc @index}}</th>

								<td>{{this.date}}</td>
								<td>{{this._id}}</td>
								{{!-- <td>{{this.usr}}</td> --}}
								{{!-- <td>{{this.product}}</td> --}}
								{{!-- <td>{{this.quantity}}</td> --}}
								<td>{{this.paymentMethod}}</td>
								{{#if this.totalAmount.cartTotal}}
								<td>{{this.totalAmount.cartTotal}}</td>
								{{else}}
								<td>{{this.totalAmount}}</td>
								{{/if}}
								<td>{{this.status}}</td>


								<td class="d-flex">
							{{!-- {{#if status}} --}}
									<div class="ms-auto">
										<div class="btn-group">
											{{#if_eq this.status "Delivered"}}
											{{else}}
											<button type="button" class="btn btn-primary">Action</button>
											<button type="button"
												class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle
													Dropdown</span>
											</button>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
												<a class="dropdown-item" href="/admin/shipp/{{this._id}}">Shipp</a>

												<a class="dropdown-item"
													href="/admin/delivered/{{this._id}}">Delivered</a>
												<a class="dropdown-item" href="/admin/cancel/{{this._id}}">Cancel</a>
											</div>
											{{/if_eq}}
										</div>
									</div>

									<a class="btn btn-primary ms-3" href="/admin/pro-detail/{{this._id}}">Details</a>
									{{!-- {{/if}} --}}

									
								</td>
							</tr>
							{{/each}}

				</div>
			</div>
		</div>


  <!-- datatables -->
                <div class="row">
                    <div class="col-sm-12">
						
						
                        <div class="panel panel-default card-view">
							
                            <div class="panel-wrapper collapse in">
								
                                <div class="panel-body">
									
                                    <div class="table-wrap">
										
                                        <div class="">
                                            <table id="example" class="table table-hover display  pb-50">
												<div>
													<h5 class="mb-3">Sales Report</h5>
												</div>

                                                {{!-- <thead>
                                                    <tr>
                                                        <th>44</th>
                                                        <th>66</th>
                                                        <th>77</th>
                                                        <th>6</th>
                                                        <th>u date</th>
                                                        <th>h</th>
                                                        <th>h</th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody>
                                                    <tr>
                                                        <td>h Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                        <td>$320,800</td>
                                                    </tr>

                                                </tbody> --}}
												    <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Date</th>
                                                        <th>Order ID</th>
                                                        {{!-- <th>User</th> --}}
                                                        {{!-- <th>Product</th> --}}
                                                        <th>Payment</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody>
													{{#each order}}
                                                    <tr>
                                                        <td>{{inc @index}}</td>
                                                        <td>{{this.date}}</td>
                                                        <td>{{this._id}}</td>
                                                        {{!-- <td>{{this.user}}</td> --}}
                                                        {{!-- <td>{{this.product}}</td> --}}
                                                        <td>{{this.paymentMethod}}</td>
                                                        <td>{{this.totalAmount}}</td>
                                                        <td>{{this.status}}</td>
                                                    </tr>
													{{/each}}

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->

		


	



		



	</div>
</div>

	
<!--end page wrapper -->




<script>
	let myChart = document.getElementById('myChart').getContext('2d');

	// Global Options
	{{!-- Chart.defaults.global.defaultFontFamily = 'Lato';
	Chart.defaults.global.defaultFontSize = 18;
	Chart.defaults.global.defaultFontColor = '#777'; --}}

	let massPopChart = new Chart(myChart, {
		type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
		data: {
			labels: ['Paypal', 'COD', 'Razorpay'],
			datasets: [{
				label: 'Population',
				data: [
					{{paypalTotal.total}},
					{{codTotal.total}},
					{{rasorpayTotal.total}},
					

				],
				//backgroundColor:'green',
				backgroundColor: [

					'rgba(54, 162, 235, 0.6)',
					'rgba(255, 206, 86, 0.6)',

					'rgba(255, 99, 132, 0.6)'
				],
				borderWidth: 1,
				borderColor: '#777',
				hoverBorderWidth: 3,
				hoverBorderColor: '#000'
			}]
		},
		options: {
			title: {
				display: true,
				text: 'Payment ',
				fontSize: 25
			},
			legend: {
				display: true,
				position: 'center',

				labels: {
					fontColor: '#000'
				}
			},
			layout: {
				padding: {
					left: 50,
					right: 0,
					bottom: 0,
					top: 0
				}
			},
			tooltips: {
				enabled: true
			}
		}
	});
</script>



