<section>
    <div class="container mt-5">
        <div class="row-mt-4">
            <a href="/admin/add-"></a>
        </div>
        
<table class="table-mt-5 table ">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th>Address</th>
            {{!-- <th>Pincode</th> --}}
            {{!-- <th>Mobile</th> --}}
            <th scope="col">Amount</th>
            <th scope="col">Payment</th>
            <th>Status</th>





        </tr>
    </thead>
    <tbody>
        {{#each order}}
        <tr>
            <td>{{this.date}} </td>
            <td>{{this.deliveryDetails.address}}<p>{{this.deliveryDetails.pincode}}</p><p>{{this.deliveryDetails.mobile}}</p></td>
            {{!-- <td>{{this.deliveryDetails.pincode}} </td> --}}
            {{!-- <td>{{this.deliveryDetails.mobile}} </td> --}}
            {{#if this.totalAmount.cartTotal}}
            <td>{{this.totalAmount.cartTotal}} </td> 
            {{else}}
            <td>{{this.totalAmount}} </td> 
            {{/if}}
            <td>{{this.paymentMethod}} </td>
            <td>{{this.status}}</td>

        

            {{#if_eq this.status "cancelled" }}	
            <td>
                <a href="/view-product/{{this._id}}" class="btn btn-primary disabled">View Products</a>
            </td>
            <td>
            <a href="/cancelOrder/{{this._id}}" class="w-100 btn btn-danger disabled">Cancel Order</a>
            </td>
            {{else}}
            {{#if_eq this.status "Delivered"}}
    <td>
                <a href="/view-product/{{this._id}}" class="btn btn-primary disabled">View Products</a>
            </td>
            <td>
            <a href="/cancelOrder/{{this._id}}" class="w-100 btn btn-danger disabled">Cancel Order</a>
            </td>
            {{else}}
            <td>
                <a href="/view-product/{{this._id}}" class="btn btn-primary">View Products</a>
            </td>
            <td>
            <a href="/cancelOrder/{{this._id}}" class="w-100 btn btn-danger">Cancel Order</a>
            </td>
            {{/if_eq}}
            {{/if_eq}}
        </tr>
        {{/each}}






    </tbody>





</table>





    </div>
</section>