
    {{#if cartItems}}
    
		<section class="check-contact section-padding">
      <div class="container">
        <div class="row">
    
          {{!-- <section>
            <div class="container mt-5"> --}}
              
              
                  <div class="col-md-6">
                    <h2>Enter Deliver Details</h2><br>
    
                    <div>
    
                      <label for="">Address</label>
                      <input class="form-control" type="text" id="address" name="address" />
    
                      <label for="">Pincode</label>
                      <input class="form-control" type="text" id="pincode" name="pincode" />
    
                      <label for="">Town</label>
                      <input class="form-control" type="text" id="town" name="town" />
                      <input type="text" name="userId" id="" value="{{user._id}}" hidden>
    
                    </div>
                    <div class="bill-text">
                      <input type="checkbox" name="vehicle" value="Bike"> Ship Items To The Above Billing Address<br>
                      {{!-- <a></a><input type="checkbox" href="/user-profile">Create new Address</a><br> --}}
                      <a href="/user-profile">Create new Address</a>
    
    
                      </label>
                    </div>
                  </div>

                  <form id="checkout-form">

                    {{!-- <input type="text" name="userId" value="{{user._id}}" hidden> --}}

                <div class="row">
    
                  <h2>Choose Address</h2>
    
                  <div class="col-md-12 col-sm-12 col-xs-12">
    
                    <div class="col-md-6 col-sm-6 col-xs-12 multiple_address">

                     <input type="text" name="userId" value="{{user._id}}"  hidden>

                      {{#each savedAddress}}
                      <label class="radio-inline">
                        <input name="address" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value={{this.address.address}},{{this.address.pincode}},{{this.address.town}}>{{this.address.address}},{{this.address.pincode}},{{this.address.town}}
                      </label>
                      {{!-- <p>{{this.address.address}}</p>
                      <p>{{this.address.pincode}}</p>
                      <p>{{this.address.town}}</p> --}}
    
                      {{/each}}
                    </div>
    
                    {{!-- <div class="col-md-6 col-sm-6 col-xs-12 multiple_address">
    
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> E-199 kalka ji New
                        Delhi infront
                        of Sanatan Dharam Mandir New Delhi 110019
                      </label>
    
                    </div> --}}
    
                    {{!-- <div class="col-md-6 col-sm-6 col-xs-12 multiple_address">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> E-199 kalka ji New
                        Delhi infront
                        of Sanatan Dharam Mandir New Delhi 110019
                      </label>
                    </div>
    
    
                    <div class="col-md-6 col-sm-6 col-xs-12 multiple_address">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> E-199 kalka ji New
                        Delhi infront
                        of Sanatan Dharam Mandir New Delhi 110019
                      </label>
                    </div> --}}
    
                  </div>
    
                  <div class="col-md-5 col-sm-5 col-xs-12">
												<div class="">
													<h2>Order summary</h2>
												</div>
                    <div class="summary">

                      <h2>Products<span>Total</span></h2>
                       {{#each product}}

                      <p>{{this.product.Name}}<span>{{this.product.Price}}</span></p>
                      
                       {{/each}}

                       <p>Actual Amount : Rs <span id="actual-amount">{{total}}</span></p>
                       <p >Coupon Discount : Rs <span id="off-amount">0</span></p>
                       
                      </p>
                      <h3 class="line2">Shipping<span class="mcolor">Free shipping </span></h3>
                      <h5>Payable Price<span  id="total-amount">{{total}}</span></h5>

                    </div>
                  </div>
    
    
                 


															<div class="col-md-5 col-sm-5 col-xs-12">
																						<div class="">
																							<h2>Payment Method</h2>
																						</div>
																<div class="summary">
                          <input type="number" value="0" name="couponamount" id="couponamount" hidden>

																	 <div class="payment">
                        <p>Payment Method</p>

												 <label class="radio-inline mt-2" for="">
                          <input type="radio" name="payment-method" value="PAYPAL">Paypal
                        </label>

                        <label class="radio-inline" for="">
                          <input type="radio" name="payment-method" value="COD" checked>COD
                        </label>
    
                        <label class="radio-inline mt-2" for="">
                          <input type="radio" name="payment-method" value="RAZORPAY">RazorPay
                        </label>
    
                       
                        <button class="btn btn-primary float-right " type="submit">Checkout</button>






																	 </div>
                    						</div>

    
                  </div>
    
                </div>
    
    
    
    
              </form>
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 mt-3">
                  <div class="theme-box">
                    <h4>Apply coupon code here</h4>
                    <p>Enter your coupon code</p>
                    <form id="discount-coupon" >
                      <input type="text" name="coupon" />
                      <button type="submit" class="btn btn-default right-cart">Apply code</button>
                    </form>
                  </div>
                </div>
              </div>
    
            </div>
        </div>
    </section>
		{{else}}
<div class=" d-flex justify-content-center p-5">
	<h1>SORRY,YOUR CART IS EMPTY!!!</h1>
</div>
		{{/if}}

    <script>
      $("#discount-coupon").submit((e) => {
        console.log("ssss")
        e.preventDefault()
        $.ajax({
          url: '/check-coupon',
          method: 'post',
          data: $('#discount-coupon').serialize(),
          success: (response) => {
            console.log(response)
            if(response.actual){
              document.getElementById('total-amount').innerHTML = response.totalAmount
              document.getElementById('off-amount').innerHTML = response.discount
              document.getElementById('actual-amount').innerHTML = response.actual
              document.getElementById('couponamount').value=response.discount
            }
          }
        })
      })
    </script>

    <script>
      $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
          url: '/place-order',
          method: 'post',
          data: $('#checkout-form').serialize(),
          success: (response) => {
            alert(response)

            if (response.codSuccess) {
              location.href = '/order-success'

            } else if (response.razorpay) {

              razorpayPayment(response)

            } else if (response.payer.payment_method == 'paypal') {
              console.log('paypal')
              //generatePaypal(response)
              for (let i = 0; i < response.links.length; i++) {
                if (response.links[i].rel === 'approval_url') {
                  location.href = response.links[i].href;
                }
              }
            }
          }
        })
      })

      function razorpayPayment(order) {
        console.log(order)
        var options = {
          "key": "rzp_test_zginGQrlDjXy7d", // Enter the Key ID generated from the Dashboard
          "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "DazKart",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
          "handler": function (response) {
            varifyPayment(response, order)
          },
          "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      }


      function varifyPayment(payment, order) {
        $.ajax({
          url: '/verify-payment',
          data: {
            payment,
            order,
          },
          method: 'post',
          success: (response) => {
            console.log(response)
            if (response.status) {
              location.href = '/order-success'


            } else {
              {{!-- alert("Payment failed") --}}
            }
          }
        })
      }
    </script>