<!-- BREADCRUMBS -->
<div class="title-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bred-title">
                    <h3>View ordered Products</h3>
                </div>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li><a href="cart-page.html">Shoping cart</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS:END -->

<!-- SHOPING-CART-AREA   -->
<div class="shoping-cart section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="headline">
                    <h2>View Ordered Products</h2>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="cart-product item">Product</th>
                                <th class="cart-product-name item">Product Name</th>
                                <th class="cart-qty item">Quantity</th>
                                <th class="cart-unit item">Unit price</th>
                                {{!-- <th class="cart-delivery item">Delivery info</th> --}}
                                
                            </tr>
                        </thead>
                        <!-- /thead -->
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="shopping-cart-btn">
                                        <a href="/"><button type="button"
                                                class="btn btn-default left-cart">Continue Shopping</a></button>
                                     
                                    </div>
                                    <!-- /.shopping-cart-btn -->
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>

                            {{#each product}}

                            <tr>
                                <td class="cart-image">
                                    <a href="#" class="entry-thumbnail">
                                        <img style="width: 70px;height:70px" src="/product-image/{{product.image.[0]}}"
                                            alt="" />
                                    </a>
                                </td>
                                <td class="cart-product-name-info">
                                    <div class="cc-tr-inner">
                                        <h4 class="cart-product-description"><a href="#">{{this.product.Name}}</a></h4>
                                    </div>
                                </td>

                                <td class="cart-product-price">
                                    <div class="cc-pr">{{this.quantity}}</div>
                                </td>
                                <td class="cart-product-price">
                                    <div class="cc-pr">{{this.product.Price}}</div>
                                </td>
                                {{!-- <td class="cart-product-delivery">
                                    <div class="cc-pr">Free shipping</div>
                                </td> --}}
                            </tr>

                            {{/each}}


                        </tbody>
                        <!-- /tbody -->
                    </table>
                    <!-- /table -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SHOPING-CART-AREA:END   -->
<!-- SHOPING-CART-BOTTOM-AREA   -->
<div class="shoping-cart-bottom-area">
    <div class="container">
        <div class="row">
            

            <div class="ms-auto col-md-4 col-sm-4 col-xs-12">
               
            </div>

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="">
                    <h2>Order Summary</h2>
                </div>
                <div class="summary">
            
                    <h2>Products<span>Total</span></h2>
                    {{#each product}}
            
                    <p>{{this.product.Name}}<span>{{this.product.Price}}</span></p>
            
                    {{/each}}
                    <hr>
            
                    <p>Actual Amount : Rs <span id="actual-amount">{{product.[0].product.Price}}</span></p>
                    <p>Coupon Discount : Rs <span id="off-amount">{{discountAm}}</span></p>
            
                    </p>
                    <h3 class="line2">Shipping<span class="mcolor">Free shipping </span></h3>
                    <h5>Payable Price<span id="total-amount">{{orderPrice.totalAmount}}</span></h5>
            
                </div>
            </div>

            {{!-- <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="checkout">
                    
                    <h4>Subtotal<span id="total">{{product.[0].product.Price}}</span></h4>
                    <h4>Discount<span id="">{{discountAm}}</span></h4>
                    <h4>Grandtotal<span id="total">{{orderPrice.totalAmount}}</span></h4>





                </div>
            </div>
             --}}
        </div>
    </div>
</div>

