


        <section>
        <div class="container">
    <table class="table mt-5" >
        <thead>
            <tr>
                <th scope="col" >Item</th>
                <th scope="col" >Title</th>
                <th scope="col" >Quantity</th>
                <th scope="col" >Price</th>
            </tr>
            
        </thead>
        <tbody>
                    {{#each product}}

        <tr>
                    

            <td><img style="width: 70px;height:70px"  src="/product-image/{{product.image.[0]}}" alt=""></td>
            <td>{{this.product.Name}}</td>
            <td>{{this.quantity}}</td>
            <td>Rs {{this.product.Price}}</td>
            
            
        </tr>
                    {{/each }}

    </tbody>

</table>
<hr>
    <div>
        <h3 class="float-right mr-5 mt-4 ">Total:Rs/-<span id="total">{{orderPrice.totalAmount}}</span></h3><br>
        
        <a href="/" class="btn btn-success mt-3" style="width:50%;"><b>Shop Again</b></a>
    </div>
</div>
</div>
</section>
