


        <section>
        <div class="container">
    <table class="table mt-5" >
        <thead>
            <tr>
                <th scope="col" >Item</th>
                <th scope="col" >Title</th>
                <th scope="col" >Quantity</th>
                <th scope="col" >Price</th>
                <th scope="col" >No</th>
            </tr>
            
        </thead>
        <tbody>
                    {{#each product}}

        <tr>
                    

            <td><img style="width: 70px;height:70px"  src="/product-image/{{product.image.[0]}}" alt=""></td>
            <td>{{this.product.Name}}</td>
            <td>{{this.quantity}}</td>
            <td>Rs {{this.product.Price}}</td>
            
            <td>
                    <button class=" cart-item-count  mr-3" onclick="changeQuantity('{{this._id}}' ,'{{this.product._id}}','{{../user}}',-1)" >-</button>
                    <span id= "{{this.product._id}}">{{this.quantity}}</span>
                    <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}' ,'{{this.product._id}}','{{../user}}',1)" >+</button>
                </td>
            <td>
                {{!-- <form action="/remove-product/'{{this._id}}','{{this.product._id}}'" method="post"> --}}
                {{!-- <input type="hidden" name="prodID" value="<%=product.id%>"> --}}
                <button onclick="removeProduct('{{this._id}}','{{this.product._id}}','{{../user}}')"class="btn btn-danger">Remove</button>
                {{!-- <button type="submitt" class="btn btn-danger">Remove</button> --}}

                </form>

                
                </td>
        </tr>
                    {{/each }}

    </tbody>

</table>
<hr>
    <div>
        <h3 class="float-right mr-5 mt-4 ">Total:Rs/-<span id="total">{{totalValue}}</span></h3><br>
        
        <a href="/" class="btn btn-success mt-3" style="width:50%;"><b>Shop Again</b></a>
    </div>
</div>
</div>
</section>
