   <!-- PAGE-TITLE-AREA -->
    <section class="page-title-area">
        <div class="page-title-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title">
                            <h3>Wishlist</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE-TITLE-AREA:END -->
	
    <!-- BREADCRUMBS -->
    <div class="title-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bred-title">
                        <h3>Wishlist</h3>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li><a href="about-us.html">Wishlist</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS:END -->
	
    <!-- WISH-AREA     -->
    <div class="wish-area section-padding">
        <div class="container">
            <div class="row">

               {{#each product}}

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="latest-single">
                        <a href="/select-product/{{this._id}}"><img src="/product-image/{{this.image.[0]}}" alt="">
                        </a>
                        <div class="tag new">
                            <span>new</span>
                        </div>
                        <div class="hot-wid-rating">
                            <h4><a href="single-product.html">{{this.Name}}</a></h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <div class="product-wid-price">
                            <ins>Rs{{this.Price}}</ins>
                            <button onclick="addToCart('{{this._id}}' )" class="btn btn-primary" >Add to cart</button>
                            </div>                           
                        </div>
                    </div>
                </div>
                                    {{/each}}

                


            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="wish-button">
                        <button type="button" class="btn btn-default add-cart">Add all to the cart</button>
                        <button type="button" class="btn btn-default clear-list">Clear the list</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- WISH-AREA:END   -->